@model IEnumerable<WebApp_7lab.Models.Films>

@{
    ViewData["Title"] = "Index";
}

<h1>Films</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.main_director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.film)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.main_director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.film_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.film_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.film_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
